<table class="table-wr">
  <tr>
    <th>CLIENT</th>
    <th>CONTACT</th>
    <th>EMAIL</th>
    <th>INVOICES</th>
    <th>NOW DUE</th>
    <th>PAID</th>
  </tr>
  <tr data-ng-repeat="client in vm.clients">
    <td><a data-ui-sref="clients.edit({ clientId: client._id })" data-ng-bind="client.companyName || client.name"></a></td>
    <td><a data-ui-sref="clients.edit({ clientId: client._id })" data-ng-bind="client.name"></a></td>
    <td><a data-ui-sref="clients.edit({ clientId: client._id })" data-ng-bind="client.email"></a></td>
    <td><a data-ui-sref="invoices.list" data-ng-bind="client.invoices.length"></a></td>
    <td><a data-ui-sref="invoices.list" data-ng-bind="client.invoices.length - (client.invoices | filter:{status:'paid'}).length"></a></td>
    <td><a data-ui-sref="invoices.list" data-ng-bind="(client.invoices | filter:{status:'paid'}).length"></a></td>
  </tr>
</table>