<div class="container p-p-wr">

<h1>FAQ</h1>

<h2>What is Nowdue?</h2>
<p>Nowdue is a very simple invoicing platform accessible through Slacks conversational messaging interface. Use commands such as 
<span class="command">add client</span> to add a contact and <span class="command">create invoice</span> to invoice a client.</p>

<h2>Is Nowdue a Stripe company?</h2>
<p>We love Stripe, but no we are not a Stripe company. We are little independent Startup operating out of Sunny Sydney, Australia. We elected to utilise Stripe's robust API to securely handle invoice transactions. When you connect your Stripe account to Nowdue, payments a securely collected and deposited into your bank account, this typically takes place within 48 hours.</p>

<h2>Do I have to have a Stripe account? How do I set one up?</h2>
<p>For now, yes you do. Head over to <a href="https://www.stripe.com">Stripe</a> and sign up, as you would any other service. Once you complete the sign-up process, add your bank details to your Stripe account and then head over to <a href="https://www.nowdue.ai">Nowdue</a> and click on the - Connect to Stripe button to sync accounts.</p>

<h2>How do I add Nowdue to Slack?</h2>
<p>Click on the <strong>Add to Slack</strong> button located here <a href="https://www.nowdue.ai">Nowdue</a>. Choose which team/channel you would like to add Nowdue to. Don't worry, Nowdue won't randomly butt into team conversions. If you don't use Slack yet, firstly head over to <a href="https://www.slack.com">Slack</a> and create a new account. Create your own Team, normally your business name and boom... you are done. Once you have a Slack <strong>team</strong> set up, head over to <a href="https://www.nowdue.ai">Nowdue</a> and click on the <strong>Add to Slack</strong> button. Still need help? Try the <a href="https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-users">Slack Help Center</a> for more on getting started.</p>

<h2>How do I add a client?</h2>
<p> 1. Type: Add client <br>
    2. Add the clients name <br>
    3. Add the clients email <br>
    4. Confirm</p>

<h2>How do I send an invoice?</h2>
<p> 1. Type: Create invoice <br>
    2. Add the business or client name <br> 
    3. Enter an amount <br>
    4. Enter a description <br>
    5. Confirm <br>
    6. Select yes to send now</p>

<h2>What are the main commands?</h2>
<p> <span class="command">Add client</span><br>
<span class="command">Create invoice</span><br>
<span class="command">Invoice_number</span><br>
<span class="command">Lookup business_client</span><br>
<span class="command">Revenue business_client</span><br>
<span class="command">Revenue overview</span>
<br>
<br>
...more soon!</p>

<h2>How do I find the invoice settings?</h2>
<p> As soon as you sign up to Nowdue you will land on the Invoice Settings page where you can set local currency and taxes, if applicable. It is important to select the currency in which you would like to be paid in. You'll also find a date allowance setting, edit the day range to a number of days you are willing to extend your payment terms by. For example 7, 14, 21 or 30 days.

<br><br>

If you need to revisit the settings later you can select the setting icon located at the top-right of all pages and navigate back to Invoice Settings.</p>

<h2>What happens when I use Slack to send an invoice?</h2>
<p> 
Your client will receive an email from <a href="mailto:invoices@nowdue.ai">invoices@nowdue.ai</a>. You will also be cc'd. The email will contain a link to the invoice where the client can make a secure online payment by credit or debit card. In your dashboard, all information in regards to the invoice will be recorded. We will use this information to trigger status notifications and keep you up to date via Slack.
</p>

<h2>Can I manage everything from Slack?</h2>
<p> 
You will only need to navigate back to the Nowdue dashboard to make setting changes. Almost all of your interaction with Nowdue will be via Slack, you won't need to jump back and forth to manage daily tasks.
</p>

<h2>Can I print the invoices?</h2>
<p> 
If your old school, then yeah. Just visit your standard device menu and select file/print to save as PDF accordingly. Invoice pages print to black on white by default. If a client asks for a PDF, just save out a printed version and email them a copy. For security reasons, we have nominated not to have banking details visible on Nowdue online invoices. If you must manually email a client a PDF invoice, we suggest you add banking info separately.
</p>

<h2>Refunds and Disputes</h2>
<p>
We don't offer a direct refund option just yet but we will soon. If you need to refund a client, please visit your Stripe dashboard and follow the refund steps. You can find out more about Stripe refunds <a href="https://support.stripe.com/questions/how-do-i-issue-refunds">here</a>.
<br>
<br>
In the case of a dispute, please email <a href="mailto:hello@nowdue.ai">hello@nowdue.ai</a> and state your case. We'll do our best to support your needs and may refer a local lawyer to help you the best we can. 
</p>

<h2>Any other compatible 3rd party plugin's coming?</h2>
<p> 
We are considering Paypal, Bitcoin, Messenger, Xero, and Salesforce. If you'd like to express your ideas and opinions, please let us know what you would like added. <a href="mailto:chris@nowdue.ai">chris@nowdue.ai</a>
</p>

<h2>What devices are compatible with the Nowdue dashboard platform?</h2>
<p> 
Nowdue dashboard is web-based so you can use it on any browser enabled device. Nowdue also relies on Slack for commands so you will be able to use your favorite native apps to trigger events.
</p>

<h2>When is this going to cost me?</h2>
<p> 
If your customer pays a Nowdue invoice online, we then process a 1% transaction fee on each transaction. Independently Stripe has their own standard additional fee structure.
<br><br>
Nowdue - 1.00% + 0.0¢ per/transaction + Stripes charges below.<br>
Stripe - Domestic cards 1.75% + 0.30¢ per/transaction<br>
Stripe - International and Amex 2.9% + 0.30¢ per/transaction<br>
</p>

<h2>Are there any additional monthly fees or limits?</h2>
<p> 
Absolutely not. There are no monthly or hidden fees. We understand that the volume of outbound invoices can vary, so scale up or down without any limits. Only pay 1% + Stripe charges we you when an invoice is paid and processed via Stripe.
</p>

<h2>What is a Nowdue date allowance?</h2>
<p> 
When creating an invoice, you will notice all invoices will display as nowdue from the day it is sent.  For example, an invoice was sent 3 days ago, it would appear as - Nowdue 3days ago. We also have a nowdue date allowance editor which can also be optionally set from 0 to 30+ days. Invoices will display as nowdue for nominated allowance before the invoice due date status becomes overdue.
</p>

<h2>Does Nowdue store my banking information?</h2>
<p> 
No sensitive data hits our servers, although some payment related data is stored securely with Stripe who offer bank-grade security. Stripe is certified to PCI Service Provider Level 1, the most stringent level of certification.
</p>

<h2>What if I need help?</h2>
<p> 
If there is a problem with the app (crashing, unexpected behavior, feature requests, etc), you can email us at <a href="mailto:hello@nowdue.ai">hello@nowdue.ai</a>
</p>

<h2>Can I disconnect my Stripe account?</h2>
<p>
Sure, log into your Stripe account and head over to account settings. Locate Nowdue and deauthorize the application.
</p>

<h2>Can I remove Nowdue from Slack?</h2>
<p>
Yep, you can do that too. Head over to Slack and select Team Directory from the More Items drop down. Click on Nowdue located under Bots and when redirected to the dedicated Slack App directory page, scroll down to the bottom and select Remove App.
</p>

<h2>Who is that guy with the beard?</h2>
<p>
You mean Hipster Jimmy? He's Tony Soprano's former accountant. These days he swings his bat for Nowdue as your friendly go-to guy. His main role is to chase money, so you don't have to!
</p>
</div><!-- END of .container.p-p-wr -->