<div  ng-controller="HeaderController as vm">
  <div class="container" ng-if="vm.authentication.user">
    <div class="settings-nav-wr">
      <ul ng-if="vm.authentication.user.roles.indexOf('admin') == -1">
        <li ng-if="!vm.authentication.user.integrations.stripe">
          <a href="#" class="stripe-connect" ng-click="vm.callOauthProvider('/api/auth/stripe')"><span>Connect with Stripe</span></a>
        </li>
        <li ng-click="vm.dropdownStyle={display: 'block', top: '100%', opacity: '1'};vm.dropdownOpen = !vm.dropdownOpen">
          <a href="javascript:void(0);"><img src="/modules/core/client/img/i-plus.png" alt=""></a>
          <ul ng-style="vm.dropdownOpen && vm.dropdownStyle">
            <li><a href="javascript:void(0);" ng-click="vm.createClient()">Add client</a></li>
            <li><a href="{{vm.authentication.user.providerData.url}}messages/@nowdue/" target="_blank">Create invoice</a></li>
            <li><a href="{{vm.authentication.user.providerData.url}}messages/@nowdue/" target="_blank">Ask something</a></li>
          </ul>
        </li>
        <li><a ui-sref="settings.profile"><img src="/modules/core/client/img/i-settings.png" alt=""></a></li>
      </ul>
      <a href="/api/auth/signout" target="_self" class="btn-sign-out" ng-if="vm.authentication.user.roles.indexOf('admin') > -1">SIGN OUT</a>
    </div>
    <h4 ng-bind="vm.authentication.user.companyName"></h4>
    <nav class="nav-wr" uib-collapse="!vm.isCollapsed" role="navigation">
      <ul ng-if="vm.menu.shouldRender(vm.authentication.user);">
        <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" class="{{item.class}}">
          <a ui-sref="{{item.state}}" ng-bind="item.title"  ui-sref-active="active"></a>
        </li>
      </ul>
    </nav>
  </div><!-- END of .container -->

  <!-- home header -->
  <div class="container" ng-if="!vm.authentication.user && vm.state.current.name.indexOf('authentication') == -1">
    <a href="/" class="logo"><img src="/modules/core/client/img/logo.png" alt=""></a>
    <div class="logining-links-wr">
      <a href="#" ui-sref="authentication.signin">SIGN IN</a>
    </div>
  </div><!-- END of .container -->

  <!-- account-setup header -->
  <div class="container" ng-if="!vm.authentication.user && vm.state.current.name == 'authentication.accountSetup'">
    <h4>Account set up</h4>
    <div class="logining-links-wr">
      <span>or </span>
      <a href="#" ui-sref="authentication.signin">SIGN IN</a>
    </div>
  </div><!-- END of .container -->

  <!-- login header -->
  <div class="container" ng-if="!vm.authentication.user && vm.state.current.name == 'authentication.signin'">
    <h4>SIGN IN</h4>
    <div class="logining-links-wr">
      <a href="#" ui-sref="root.home">Back to home</a>
    </div>
  </div><!-- END of .container -->
</div><!-- END of div -->