<div class="text-center">
	<div class="divider-item"></div>
	<h2>Invoice in the moment</h2>
	<div class="divider-item divider-md divider-blue"></div>
	<div class="divider-item divider-blue"></div>
	<a href="#" ng-click="vm.callOauthProvider('/api/auth/slack')" class="btn-slack">Add to <strong>Slack</strong></a>
	<div class="divider-item divider-brown"></div>

	<footer>
		<div class="container text-center">
			<div class="footer-nav">
				<a ui-sref="privacy">Privacy</a>
				<span>•</span>
				<a href="javascript:void(0);">Contact</a>
			</div>
			<h6>&copy; 2016 nowdue.ai</h6>
		</div><!-- END of .container -->
	</footer><!-- END of footer -->
</div>