<div class="container p-p-wr">

<h1>Privacy Policy</h1>

<h2>1. Definition</h2>
<p>Welcome to Nowdue.ai, the provider of the software platform that enables business owners and representatives to generate and send invoices to their clients using a natural language interface for devices and software applications (the “Nowdue Platform”). Nowdue  is committed to protecting the privacy of all visitors, users and others who access our Service (“you,” or “Users”). This Privacy Policy applies to our website, located at <a href="http://nowdue.ai">http://nowdue.ai</a>, and the Nowdue Platform (collectively, our “Service”).</p>
<h2>2. Personal data</h2>
<p>When registering on our Service, you may be asked to enter personal data such as your name, business name, email address, phone number, physical address, slack or facebook messenger handle, phone number and other warranted information to help you experience and access functionality of the service. The information you provide is referred to as personal data.</p>
<h2>3. Data we collect</h2>
<p>We collect personal data as described below</p>
<h3>3.1 - Information you provide to us.</h3>
<p>We collect personal data such as your credentials when you create an account through the website, through integrated sign up plugin such as facebook, google gmail, twitter, slack, git or any other 3rd party partner sign in provider to log into the Service. This information is also used to respond to any inquiries you make in regards to your account or the Service.</p>

<h3>3.2 - Information provider through chat interfaces.</h3>
<p>In order to execute requests in third-party applications such as slack, facebook messenger or others, extensive privacy protocols are made to ensure that only information triggered through matching, keywords are extracted to action an explicit request related to the Service description. At no time are inbound conversations recorded or kept on record for any reason other than communicating requests through the natural language interface.</p>

<h3>3.3 - Information from technology providers</h3>
<p>Our service is connected to a technology stack of providers and libraries to improve the user experience and the Service. Your personal data set will never be sold, leased or transferred directly to any of these entities. Data and log files within those stacks are only processed and securely stored to gain insights into traffic and user behavior patterns to improve the Service and your experience. This Service uses cookies to map pieces of collected information within an individual browser session which helps tailor the users experience. These cookies expire when a browser session is complete and live on your device until deleted from within the setting of your device. This privacy policy does not extend, nor are we responsible for cookies installed by associated entities such as slack, facebook, google analytics, gmail or any other service displayed within your devices cookie settings. You should read the privacy associated to those individually to past your own judgment.</p>

<h3>3.4 - Personal data - Client side</h3>

<p>To action requests, this Service will request client information. This information is securely collected and stored so we can facilitate the description of this Service. All personal data passed as client data will strictly comply with all the privacy clauses adherent within this policy.</p>

<h2>4 - Regulatory</h2>
<h3>4.1 - Compliance</h3>

<p>This Service does not operate or claim to be a debt collection agency. Any information collected is authorized for the purpose of creating invoices, sending invoice reminders, and processing payments. Any debt collected matter should be referred to a licensed debt collector in your local state.</p>

<h3>4.2 - Spam</h3>

<p>In the event fraudulent activity such as sending invoices to anyone other than your client. This Service has the right to notify local law enforcement agencies to help protect the rights of all people with access to the Internet. This Service has the right to do so at its own discretion with no expectations to this policy.</p>


<h2>5 - Policy Modifications</h2>
<p>We may update this Privacy Policy from time to time, you are responsible for reviewing this policy periodically. When we change this Privacy Policy in a material way, we will update the “last modified” date at the bottom of this policy page. Changes to this Privacy Policy are effective immediately, by continuing the use of the Service you are agreeing to any of the changes. If unhappy with the changes made to the policy you must cease using the service instantly.</p>

<p>For any inquiries or if you just want to say g'day, please contact us at <a href="mailto:team@nowdue.ai">team@nowdue.ai</a></p>

<p>Suite 38, 79 William Street Rushcutters Bay, NSW 2011 Australia.</p>

<p>Last Modified : 1st June 2016</p>

</div><!-- END of .container.p-p-wr -->