@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.invoice-settings .tax-input input {
  width: 15%;
  min-width: 50px;
  text-align: right;
  padding-right: 0;
}
.invoice-settings .tax-input button {
  display: inline;
  overflow: hidden;
  vertical-align: middle;
  background: #e9fbf7;
  border-radius: 5px;
  min-width: 56px;
  padding: 0;
  margin: 0 0 0 0;
  color: #b3d2cb;
  height: 20px;
  width: 50px;
  float: none;
  font-size: 10px;
  border: 0;
}
.invoice-settings .check-wr {
  margin: 0;
}
.invoice-settings span {
  color: #7b858a;
}
