<div class="fixed-btm-wr fixed-btm-invoice">
  <div class="container">
    <h4 class="color-light-gray">From</h4>
    <h4>{{vm.invoice.user.companyName}}</h4>
    <div class="tooltip-wr">
      <img src="modules/core/client/img/i-info.png" alt="">
      <div class="tool-tip slideIn top">This invoice was sent by a verified representative from  {{vm.invoice.user.companyName}}.</div>
    </div>
    <span class="invoice-data-item color-light-blue">{{vm.invoice.dateIssued | date:'MMM dd'}}</span>
    <div class="invoice-submenu" ng-if="vm.authentication && vm.authentication.user.id == vm.invoice.user.id">
      <i class="btn-dots"><img src="modules/core/client/img/i-dots.png" alt=""></i>
      <ul>
        <li ng-if="vm.invoice.status != 'paid'"><a href="#" ui-sref="invoices.edit({ invoiceId: vm.invoice._id })">Edit Invoice</a></li>
        <li><a href="#" ng-click="vm.remove()">Delete Invoice</a></li>
      </ul>
    </div>
    <div class="invoice-submenu" ng-if="!(vm.authentication && vm.authentication.user.id == vm.invoice.user.id)">
      <i class="btn-dots"><img src="modules/core/client/img/i-dots.png" alt=""></i>
      <ul>
        <li><a href="mailto:hello@nowdue.ai">hello@nowdue.ai</a></li>
      </ul>
    </div>
    <div class="invoice-by">
      Invoice powered by <a href="http://www.nowdue.ai">Nowdue <i><img src="modules/core/client/img/i-nowdue.png" alt=""></i></a>
    </div>
  </div><!-- END of .container -->
</div><!-- END of .fixed-btm-wr -->