<header class="fixed-header">
<div class="container">
	<h4>Invoice</h4>
	<span class="invoice-data-item color-yellow">{{vm.invoice.invoice}}</span>
	<div class="alignright text-right" ng-if="vm.invoice.status != 'paid' && vm.invoice.dueDays < 1">
		<span class="invoice-data-item color-purple">Nowdue</span>
		<h4>Today</h4>
	</div>
	<div class="alignright text-right" ng-if="vm.invoice.status != 'paid' && vm.invoice.dueDays == 1">
		<span class="invoice-data-item color-purple">Nowdue</span>
		<h4>Yesterday</h4>
	</div>
	<div class="alignright text-right" ng-if="vm.invoice.status != 'paid' && vm.invoice.dueDays > 1 && vm.invoice.dueDays < vm.dueDateAllowance">
		<span class="invoice-data-item color-purple">Nowdue</span>
		<h4>{{vm.invoice.dueDays}}d ago</h4>
	</div>
	<div class="alignright text-right" ng-if="vm.invoice.status != 'paid' && vm.invoice.dueDays > 0 && vm.invoice.dueDays >= vm.dueDateAllowance && vm.invoice.dueDays < 31">
		<span class="invoice-data-item color-red">Overdue</span>
		<h4>{{vm.invoice.dueDays}}d ago</h4>
	</div>
	<div class="alignright text-right" ng-if="vm.invoice.status != 'paid' && vm.invoice.dueDays >= 31">
		<span class="invoice-data-item color-red">Overdue</span>
		<h4>{{vm.invoice.dueDays / 7 | number:0}}wk ago</h4>
	</div>
	<div class="alignright text-right" ng-if="vm.invoice.status == 'paid'">
		<span class="invoice-data-item color-green">Paid</span>
		<h4>{{vm.invoice.paidDate}}</h4>
	</div>
</div><!-- END of .container -->
</header>