<table class="table-wr">
  <tr>
    <th>CLIENT</th>
    <th>INVOICE</th>
    <th>DATE ISSUED</th>
    <th>DATE  DUE</th>
    <th>AMOUNT DUE</th>
    <th>RECEIVED</th>
    <th>STATUS</th>
    <th> </th>
  </tr>
  <tr data-ng-repeat="invoice in vm.invoices">
    <td><a data-ui-sref="clients.edit({ clientId: invoice.client._id })" data-ng-bind="invoice.client.companyName || invoice.client.name"></a></td>
    <td><a data-ng-bind="invoice.invoice"></a></td>
    <td>
      <span data-ng-bind="invoice.dateIssued | date:'dd.MM.yy'"></span>
    </td>
    <td>
      <span data-ng-bind="invoice.dateDue | date:'dd.MM.yy'"></span>
    </td>
    <td>
      <span> {{invoice.amountDue.amount | currency:vm.currencySymbols[invoice.amountDue.currency]}}</span>
    </td>
    <td>
      <span data-ng-bind="invoice.received"></span>
    </td>
    <td>
      <div class="select-wr" ng-class="{'color-purple': invoice.status == 'due', 'color-red': invoice.status == 'overdue', 'color-green': invoice.status == 'paid'}">
        <select data-ng-model="invoice.status">
          <option value="due" class="color-purple">Nowdue</option>
          <option value="paid" class="color-green">Paid</option>
          <option value="overdue" class="color-red">OverDue</option>
        </select>
      </div>
    </td>
    <td><a href="#" ui-sref="invoicesview({ invoiceId: invoice._id })"><img src="modules/core/client/img/i-file.png" alt=""></a></td>
  </tr>
</table>