<table class="table-wr">
  <tr>
    <th>CLIENT</th>
    <th>INVOICE</th>
    <th>DATE ISSUED</th>
    <th>DATE  DUE</th>
    <th>AMOUNT DUE</th>
    <th>RECEIVED</th>
    <th>STATUS</th>
    <th> </th>
  </tr>
  <tr data-ng-repeat="invoice in vm.invoices">
    <td><a data-ui-sref="clients.edit({ clientId: invoice.client._id })" data-ng-bind="invoice.client.companyName || invoice.client.name"></a></td>
    <td><a data-ng-bind="invoice.invoice"></a></td>
    <td>
      <span data-ng-bind="invoice.dateIssued | date:'dd.MM.yy'"></span>
    </td>
    <td>
      <span data-ng-bind="invoice.dateDue | date:'dd.MM.yy'"></span>
    </td>
    <td>
      <span>{{invoice.amountDue.amount}}</span>
      <span>{{invoice.amountDue.currency}}</span>
    </td>
    <td>
      <span data-ng-bind="invoice.received"></span>
    </td>
    <td>
      <select data-ng-model="invoice.status">
        <option value="due">Due</option>
        <option value="paid">Paid</option>
        <option value="overdue">OverDue</option>
      </select>
    </td>
    <td><a href="invoice.html"><img src="/modules/core/client/img/i-file.png" alt=""></a></td>
  </tr>
</table>
<div class="fixed-btm-wr">
  <div class="container">
    <div class="info-box">
      <i><img src="/modules/core/client/img/i-info.png" alt=""></i>
      <p>While you're on a free account you can create unlimited invoices forever. If you want to automate sending, scheduled reminders or gain revenue insights please <a href="settings-plan.html">upgrade</a> your plan.</p>
    </div><!-- END of .info-box -->
  </div><!-- END of .container -->
</div><!-- END of .fixed-btm-wr -->