<div class="form-wr">
  <form id="payment-form" ng-submit="vm.pay(vm.form.invoiceForm.$valid)" novalidate autocomplete="off">
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
     <div class="form-row">
      <label>
        <input type="text" size="20" data-stripe="email" ng-model="vm.invoice.client.email" placeholder="Email" disabled>
      </label>
    </div>
    <div class="form-row">
      <label>
        <input type="text" size="20" data-stripe="number" ng-model="vm.details.number" placeholder="Card Number">
      </label>
    </div>

    <div class="form-row exp-date">
      <label>
        <input type="text" size="2" data-stripe="exp_month" ng-model="vm.details.exp_month" placeholder="MM">
      </label>
      <span> / </span>
      <input type="text" size="2" data-stripe="exp_year" ng-model="vm.details.exp_year" placeholder="YY">
    </div>

    <div class="form-row">
      <label>
        <input type="text" size="4" data-stripe="cvc" ng-model="vm.details.cvc" placeholder="CVC">
      </label>
    </div>
    <button class="submit">Pay {{vm.invoice.amountDue.amount | currency:vm.currencySymbols[vm.invoice.amountDue.currency]}}</button>
  </form>
</div>