<div class="invoice-item-wr">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h4 class="color-light-gray">To</h4>
        </div>
        <div class="col-xs-8">
          <h4>{{vm.invoice.client.companyName}}</h4>
          <h4 class="color-violet">We appreciate your business</h4>
          <p>{{vm.invoice.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="invoice-info">
        <h2><i>Total</i> {{vm.invoice.amountDue.amount | currency:vm.currencySymbols[vm.invoice.amountDue.currency]}} </h2>
        <h4><i>Tax</i>{{vm.invoice.tax}}%</h4>
        <h4><i>Subtotal</i> {{vm.invoice.amountDue.amount*(1-vm.invoice.tax/100) | currency:vm.currencySymbols[vm.invoice.amountDue.currency]}}</h4>
        <a href="#" ng-click="vm.payNow(vm.invoice)" class="btn-1" ng-if="vm.invoice.status != 'paid'">Pay Now</a>
      </div>
    </div>
  </div>
</div><!-- END of .invoice-item-wr -->