<div class="form-wr">
  <form name="vm.userForm" class="signin" novalidate autocomplete="off">
    <fieldset>
    <div class="form-row">
      <div class="row form-group" show-errors>
        <div class="col-xs-9">
          <input type="text"  id="companyName" name="companyName" ng-model="vm.user.companyName" placeholder="Company name" required ng-="!vm.user.editCompanyName">
        </div>
        <div class="col-xs-3 text-center">
          <a href="#" ng-click="vm.user.editCompanyName = !vm.user.editCompanyName" class="btn-edit-input">Edit</a>
        </div>

        <div ng-messages="vm.userForm.companyName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Company name is required.</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="row">
        <div class="col-xs-9">
          <input type="text"  id="businessNumber" name="businessNumber" ng-model="vm.user.businessNumber" placeholder="Business number" required >
        </div>
        <div class="col-xs-3 text-center">
          <a href="javascript:void(0);" class="btn-edit-input">Edit</a>
        </div>
        <div ng-messages="vm.userForm.businessNumber.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Business number is required.</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="row">
        <div class="col-xs-9">
          <input type="text" id="clientsName" name="clientsName" ng-model="vm.user.clientsName"  placeholder="Clients name" required >
        </div>
        <div class="col-xs-3 text-center">
          <a href="javascript:void(0);" class="btn-edit-input">Edit</a>
        </div>
        <div ng-messages="vm.userForm.clientsName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Clients name is required.</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="row">
        <div class="col-xs-9">
          <input type="email" id="email" name=placeholder="Email address" ng-model="vm.user.email" required >
        </div>   
        <div class="col-xs-3 text-center">
          <a href="#" ng-click="vm.updateUserProfile(vm.userForm.$valid)"  class="btn-edit-input btn-1">Save</a>
        </div>
        <div ng-messages="vm.userForm.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Email address is required.</p>
          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
        </div>    
      </div>
    </div>
    <div class="form-row">
      <div class="row">
        <div class="col-xs-9">
          <input type="password" id="password" name="password" ng-model="vm.user.password" placeholder="Password" required >
        </div>
        <div class="col-xs-3 text-center">
          <a href="javascript:void(0);" class="btn-edit-input">Change password</a>
        </div>
        <div ng-messages="vm.passwordForm.password.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Verify your new password.</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="row">
        <div class="col-xs-9">
          <input type="text" id="address" name="address" ng-model="vm.user.address" placeholder="Address" required >
        </div>
        <div class="col-xs-3 text-center">
          <a href="javascript:void(0);" class="btn-edit-input">Edit</a>
        </div>
        <div ng-messages="vm.userForm.address.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Address is required.</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="row">
        <div class="col-xs-9">
          <input type="text" id="website" name="website" ng-model="vm.user.website" placeholder="Website" required >
        </div>
        <div class="col-xs-3 text-center">
          <a href="javascript:void(0);" class="btn-edit-input">Edit</a>
        </div>
      </div>
    </div>
    </fieldset>
  </form>
</div><!-- END of .form-wr -->