<div class="form-wr">
	<form action="action" name="vm.userForm" class="signin" novalidate autocomplete="off">
		<div class="form-row">
			<div class="row">
				<div class="col-xs-9">
					<div class="row">
						<div class="col-sm-3">
							<p class="color-blue">Little Starter</p>
						</div>
						<div class="col-sm-9">
							<p>Create unlimited invoices</p>
						</div>
					</div>
				</div>
				<div class="col-xs-3 text-left">
					<label class="check-wr color-blue">
						<input type="radio" checked name="ex1" ng-model="vm.user.plan" ng-change="vm.update()" value="ex1-1">
						<span>
							<span class="ch-disabled-text">Upgrade</span>
							<span class="ch-checked-text">Active</span>
						</span>
						<strong>$0 <span>p/m</span></strong>
					</label>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="row">
				<div class="col-xs-9">
					<div class="row">
						<div class="col-sm-3">
							<p class="color-blue">Trail Blazer</p>
						</div>
						<div class="col-sm-9">
							<p>Send invoices directly to clients and automate payment due reminders</p>
						</div>
					</div>
				</div>
				<div class="col-xs-3 text-left">
					<label class="check-wr color-blue">
						<input type="radio" name="ex1" ng-model="vm.user.plan" ng-change="vm.update()" value="ex1-2">
						<span>
							<span class="ch-disabled-text">Upgrade</span>
							<span class="ch-checked-text">Active</span>
						</span>
						<strong>$36 <span>p/m</span></strong>
					</label>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="row">
				<div class="col-xs-9">
					<div class="row">
						<div class="col-sm-3">
							<p class="color-blue">Growth Hacker</p>
						</div>
						<div class="col-sm-9">
							<p>Enable profit and forcast tracking with reveune reporting commands</p>
						</div>
					</div>
				</div>
				<div class="col-xs-3 text-left">
					<label class="check-wr color-blue">
						<input type="radio" name="ex1" ng-model="vm.user.plan" ng-change="vm.update()" value="ex1-3">
						<span>
							<span class="ch-disabled-text">Upgrade</span>
							<span class="ch-checked-text">Active</span>
						</span>
						<strong>$79 <span>p/m</span></strong>
					</label>
				</div>
			</div>
		</div>
	</form>
</div><!-- END of .form-wr -->