<div class="form-wr">
	<form action="action" name="vm.userForm" class="signin" novalidate autocomplete="off">
		<div class="form-row pricing-settings">
			<div class="row">
				<div class="col-xs-9">
					<div class="row">
						<div class="col-sm-3">
							<p class="color-blue">Only pay when you get paid</p>
						</div>
						<div class="col-sm-9">
							<p>Easy, transparent pay-as-you-go pricing. Absolutely no monthly or hidden fees.</p>
							
							<p> You can create and send as many invoices as you like for free. If your customer pays an invoice online, we process a one ​˜off˜​ percentage transaction fee. Independently Stripe have their own standard inclusive fee structure.
							</p>
							<br>
							<br>
							<br>
							<table>
								<tr>
									<td><p>Stripe - Domestic cards</p></td>
									<td width="30px"></td>
									<td><p>1.75% + 0.30¢ per/transaction</p></td>
								</tr>
								<tr>
									<td><p> Stripe - International and Amex  </p></td>
									<td width="30px"></td>
									<td><p>2.9% + 0.30¢ per/transaction</p></td>
								</tr>
								<tr>
									<td><p>Nowdue</p></td>
									<td width="30px"></td>
									<td><p>1.00% + 0.0¢ per/transaction</p></td>
								</tr>
							</table>
							<br>
							<br>
							<p>Have questions? <strong><a href="mailto:hello@nowdue.ai">hello@nowdue.ai</a></strong></p>
						</div>
					</div>
				</div>
				<div class="col-xs-3 text-left">
					<label class="check-wr color-blue">
						<!--<h3><strong>$2 </strong></h3><strong> p/t</strong>-->
					</label>
				</div>
			</div>
		</div>
	</form>
</div><!-- END of .form-wr -->