<div class="tabs-wr">
  <div class="tabs-nav-wr">
    <div class="row">
      <div class="col-xs-9">
        <a ui-sref="settings.profile" ui-sref-active="active">MY ACCOUNT</a>
        <!--<a ui-sref="settings.conversation" ui-sref-active="active">CONVERSATION SETTINGS</a>-->
        <a ui-sref="settings.invoice" ui-sref-active="active">INVOICE SETTINGS</a>
        <!--<a ui-sref="settings.plans" ui-sref-active="active">PLANS</a>-->
        <a ui-sref="settings.pricing" ui-sref-active="active" ng-if="vm.user.roles.indexOf('teammanager') > -1">FAQ</a>
        <a ui-sref="settings.integrations" ui-sref-active="active">INTEGRATIONS</a>
        <a ui-sref="settings.team" ui-sref-active="active">TEAM</a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="/api/auth/signout" target="_self" class="btn-sign-out" ng-if="vm.state.current.name == 'settings.profile'">SIGN OUT</a>
      </div>
    </div>
  </div>
  <div class="tabs-content-wr">
    <div class="tabs-item active">
      <div ui-view></div>
    </div>
  </div>
</div>