<div class="form-wr">
  <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
      <div class="form-row form-group" show-errors>
        <input type="text" id="companyName" name="companyName" ng-model="vm.credentials.companyName" placeholder="Company Name" required>
        <div ng-messages="vm.userForm.companyName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Company name is required.</p>
        </div>
      </div>
      <div class="form-row form-group" show-errors>
        <input type="email" id="email" name="email" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
        <div ng-messages="vm.userForm.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Email address is required.</p>
          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
        </div>
      </div>
      <div class="form-row form-group" show-errors>
        <input type="password" id="password" name="password" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
        <div ng-messages="vm.userForm.password.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Password is required.</p>
          <div ng-repeat="passwordError in passwordErrors">
            <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
          </div>
        </div>
      </div>
      <div class="form-row form-group" ng-show="!vm.userForm.password.$error.required">
        <label>Password Requirements</label>
        <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
      </div>
      <div class="form-row form-group">
        <span class="label-placeholder">Select a currency</span>
        <div class="select-wr">
          <select ng-model="vm.credentials.currency">
            <option value="usd">$ USD</option>
            <option value="euro">&euro; Euro</option>
          </select>
        </div>
      </div>
      <div class="text-center form-row form-group">
        <button type="submit">Save</button>
      </div>
      <div ng-show="vm.error" class="text-center text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
</div>