/* line 10, sass/index.scss */
body {
  font-family: 'Varela Round', sans-serif;
}

/* line 14, sass/index.scss */
.headerWrapper {
  background: #e3a5f8 url(../img/data/images/background_top.png) repeat-x;
}
/* line 17, sass/index.scss */
.headerWrapper header {
  height: 741px;
  max-width: 920px;
}
/* line 20, sass/index.scss */
.headerWrapper header .navbar {
  margin-right: -16px;
  padding-top: 38px;
}
/* line 24, sass/index.scss */
.headerWrapper header .navbar a {
  color: #f5fdb2;
}
/* line 28, sass/index.scss */
.headerWrapper header .navbar .navbar-brand {
  padding: 11px 12px;
  letter-spacing: 0.4px;
}
/* line 32, sass/index.scss */
.headerWrapper header .navbar .navbar-brand img {
  display: inline-block;
  margin-right: 8px;
}
/* line 39, sass/index.scss */
.headerWrapper header .navbar .nav {
  padding-top: 10px;
  letter-spacing: -0.3px;
  font-size: 13px;
  float: right;
  margin-top: 0;
}
/* line 46, sass/index.scss */
.headerWrapper header .navbar .nav li {
  display: inline-block;
}
/* line 48, sass/index.scss */
.headerWrapper header .navbar .nav li a {
  height: 33px;
  width: 73px;
  padding: 0 0 0 0;
  border-radius: 49px;
  line-height: 33px;
}
/* line 55, sass/index.scss */
.headerWrapper header .navbar .nav li a:hover {
  background: #d99fee;
}
/* line 63, sass/index.scss */
.headerWrapper header .navbar .signIn {
  margin-left: 18px;
}
/* line 68, sass/index.scss */
.headerWrapper header .header__row {
  margin-top: 97px;
}
/* line 72, sass/index.scss */
.headerWrapper header .slogan {
  display: inline-block;
  width: 88%;
  max-width: 782px;
}
/* line 78, sass/index.scss */
.headerWrapper header h4 {
  margin-top: 5px;
}
/* line 83, sass/index.scss */
.headerWrapper header .slackBtn {
  padding: 0 2px 4px 2px;
  margin-top: 27px;
  width: 241px;
  height: 58px;
  border: 2px black solid;
  background-color: transparent;
}
/* line 90, sass/index.scss */
.headerWrapper header .slackBtn div {
  background: white url(../img/data/images/slack_button.png) no-repeat 50px 15px;
  height: 100%;
  width: 100%;
  padding: 16px 0 0 32px;
  letter-spacing: -0.2px;
  font-size: 17px;
}
/* line 99, sass/index.scss */
.headerWrapper header .slackBtn:hover div {
  margin-top: 1px;
}

/* line 108, sass/index.scss */
.slackWrapper {
  background: #f5fdb2 url(../img/data/images/background_yellow.png) repeat-x 1px 165px;
}
/* line 111, sass/index.scss */
.slackWrapper .slack {
  background: transparent url(../img/data/images/yellow_dot.png) no-repeat bottom center;
  /*585px 580px;*/
  max-width: 920px;
}
/* line 116, sass/index.scss */
.slackWrapper .slack .chat {
  margin: -17.5% 0 0 0;
  width: 85%;
  max-width: 777px;
  -webkit-box-shadow: -2px 4px 80px 0px rgba(1, 1, 1, 0.2);
  -moz-box-shadow: -2px 4px 80px 0px rgba(1, 1, 1, 0.2);
  box-shadow: -2px 4px 80px 0px rgba(1, 1, 1, 0.2);
  border-radius: 12px;
}
/* line 126, sass/index.scss */
.slackWrapper .slack .bot {
  width: 85%;
  max-width: 777px;
  margin: 79px 0 120px;
}

/* line 134, sass/index.scss */
.featureWrapper {
  background: #ffffff;
}
/* line 136, sass/index.scss */
.featureWrapper .feature {
  max-width: 920px;
  min-height: 1825px;
  text-align: left;
}
/* line 141, sass/index.scss */
.featureWrapper .feature .featureItem {
  text-align: center;
}
/* line 145, sass/index.scss */
.featureWrapper .feature .featureItem .featureItem__img {
  padding: 80px 10px 40px 10px;
}
/* line 149, sass/index.scss */
.featureWrapper .feature .featureItem .featureItem__text {
  padding: 40px 10px 40px 10px;
  max-width: 320px;
  display: inline-block;
  text-align: left;
}
/* line 155, sass/index.scss */
.featureWrapper .feature .featureItem .featureItem__text h4 {
  font-size: 24px;
  margin-bottom: 21px;
}
/* line 160, sass/index.scss */
.featureWrapper .feature .featureItem .featureItem__text p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.19px;
}

/* line 170, sass/index.scss */
.invoiceWrapper {
  background: #f69769 url(../img/data/images/background_invoice.png) repeat-x 1px center;
}
/* line 173, sass/index.scss */
.invoiceWrapper .invoice {
  max-width: 920px;
  min-height: 894px;
  background: transparent url(../img/data/images/orange_dot.png) no-repeat bottom center;
  /*585px 580px;*/
}
/* line 178, sass/index.scss */
.invoiceWrapper .invoice .invoiceLogo {
  margin: 127px 0 0 7px;
}
/* line 182, sass/index.scss */
.invoiceWrapper .invoice .invoiceSchema {
  margin-top: 125px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* line 193, sass/index.scss */
.invoiceWrapper .invoice .avatarWrapper .avatar {
  display: inline-block;
  position: relative;
  width: 113px;
  height: 113px;
  border-radius: 60px;
  box-shadow: 8px 10px 0 0 #d67f56;
}
/* line 201, sass/index.scss */
.invoiceWrapper .invoice .avatarWrapper .avatar .avatar__icon {
  position: absolute;
  top: -4px;
  right: -2px;
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 25px;
}
/* line 210, sass/index.scss */
.invoiceWrapper .invoice .avatarWrapper .avatar .avatar__icon--pp1 {
  top: -2px;
  right: -1px;
}
/* line 215, sass/index.scss */
.invoiceWrapper .invoice .avatarWrapper .avatar .avatar__icon--slack {
  background: white url("../img/data/images/slack_button.png") no-repeat center;
}
/* line 219, sass/index.scss */
.invoiceWrapper .invoice .avatarWrapper .avatar .avatar__icon--email {
  background: white url("../img/data/images/email.png") no-repeat center;
}
/* line 227, sass/index.scss */
.invoiceWrapper .invoice .invoiceImg {
  margin-bottom: 40px;
  margin-top: 40px;
}
/* line 231, sass/index.scss */
.invoiceWrapper .invoice .invoiceImg img {
  width: 94%;
  max-width: 387px;
}
/* line 238, sass/index.scss */
.invoiceWrapper .invoice .stripeLogo {
  margin-top: 30px;
}
/* line 242, sass/index.scss */
.invoiceWrapper .invoice .startBtn {
  padding: 0 2px 4px 2px;
  margin-top: 78px;
  margin-bottom: 50px;
  width: 241px;
  height: 58px;
  border: 2px black solid;
  background-color: transparent;
}
/* line 251, sass/index.scss */
.invoiceWrapper .invoice .startBtn div {
  background: white;
  height: 100%;
  width: 100%;
  padding: 15px 0 0 0;
  letter-spacing: -0.9px;
}
/* line 260, sass/index.scss */
.invoiceWrapper .invoice .startBtn:hover div {
  margin-top: 1px;
}

/* line 268, sass/index.scss */
.footerWrapper {
  background: #f19266;
}
/* line 270, sass/index.scss */
.footerWrapper .footer {
  min-height: 361px;
  max-width: 920px;
  color: #855741;
  text-align: center;
}
/* line 276, sass/index.scss */
.footerWrapper .footer a {
  color: #855741;
}
/* line 280, sass/index.scss */
.footerWrapper .footer a:hover {
  color: #b2fcfd !important;
  text-decoration: none;
}
/* line 284, sass/index.scss */
.footerWrapper .footer a:visited {
  text-decoration: none;
  color: #855741;
}
/* line 290, sass/index.scss */
.footerWrapper .footer .footerRow--tm1 {
  margin-top: 111px;
}
/* line 294, sass/index.scss */
.footerWrapper .footer .footerRow--tm2 {
  margin-top: 128px;
}
/* line 299, sass/index.scss */
.footerWrapper .footer .footerMenu {
  padding-left: 0;
  list-style: none;
  margin-bottom: 40px;
}
/* line 303, sass/index.scss */
.footerWrapper .footer .footerMenu li {
  display: inline-block;
  margin-left: 13px;
  margin-right: 22px;
}
/* line 310, sass/index.scss */
.footerWrapper .footer .under {
  margin-right: -4px;
}
/* line 312, sass/index.scss */
.footerWrapper .footer .under p {
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}
/* line 316, sass/index.scss */
.footerWrapper .footer .under img {
  margin-top: -6px;
  margin-right: 3px;
}
/* line 320, sass/index.scss */
.footerWrapper .footer .under a {
  margin-right: 3px;
}
/* line 325, sass/index.scss */
.footerWrapper .footer .copyRight {
  margin-left: 14px;
  letter-spacing: 0.1px;
}
/* line 330, sass/index.scss */
.footerWrapper .footer .social {
  list-style: none;
  padding-left: 0;
}
/* line 334, sass/index.scss */
.footerWrapper .footer .social li {
  display: inline-block;
  margin-left: 22px;
}
/* line 338, sass/index.scss */
.footerWrapper .footer .social li:first-child {
  margin-right: 1px;
}

@media (min-width: 768px) {
  /* line 350, sass/index.scss */
  .headerWrapper .header .slogan {
    margin-left: 17px;
  }
  /* line 354, sass/index.scss */
  .headerWrapper .header h4 {
    margin-left: 14px;
  }
  /* line 358, sass/index.scss */
  .headerWrapper .header .slackBtn {
    margin-left: 16px;
  }

  /* line 365, sass/index.scss */
  .slackWrapper .slack {
    height: 707px;
  }
  /* line 369, sass/index.scss */
  .slackWrapper .slack .chat {
    margin-left: 14px;
  }
  /* line 372, sass/index.scss */
  .slackWrapper .slack .bot {
    margin-left: 14px;
  }

  /* line 383, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img {
    padding: 80px 10px 40px 40px;
  }
  /* line 385, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img--right {
    float: right;
  }
  /* line 390, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text {
    padding: 80px 10px 40px 40px;
  }

  /* line 397, sass/index.scss */
  .invoiceWrapper {
    background: #f69769 url(../img/data/images/background_invoice.png) repeat-x 1px 428px;
  }
  /* line 401, sass/index.scss */
  .invoiceWrapper .invoice .invoiceSchema {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
  }
  /* line 410, sass/index.scss */
  .invoiceWrapper .invoice .avatarWrapper--doc {
    padding-left: 40px;
    padding-top: 6px;
  }
  /* line 415, sass/index.scss */
  .invoiceWrapper .invoice .avatarWrapper--fox {
    padding-left: 4px;
    padding-top: 3px;
  }
  /* line 423, sass/index.scss */
  .invoiceWrapper .invoice .avatarWrapper .avatar .avatar__icon--pp1 {
    top: -2px;
    right: -1px;
  }
  /* line 432, sass/index.scss */
  .invoiceWrapper .invoice .invoiceImg {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 31px;
  }
  /* line 438, sass/index.scss */
  .invoiceWrapper .invoice .stripeLogo {
    margin-left: 15px;
  }
  /* line 442, sass/index.scss */
  .invoiceWrapper .invoice .startBtn {
    margin-right: -16px;
  }

  /* line 448, sass/index.scss */
  .footerWrapper {
    background: #f19266;
  }
  /* line 450, sass/index.scss */
  .footerWrapper .footer {
    text-align: left;
  }
  /* line 452, sass/index.scss */
  .footerWrapper .footer .footerMenu {
    margin-bottom: 10px;
  }
  /* line 455, sass/index.scss */
  .footerWrapper .footer .under {
    text-align: right;
  }
  /* line 458, sass/index.scss */
  .footerWrapper .footer .smRight {
    float: right;
  }
  /* line 461, sass/index.scss */
  .footerWrapper .footer .social {
    text-align: right;
    margin-right: -3px;
    margin-bottom: 10px;
  }
}
@media (min-width: 900px) {
  /* line 473, sass/index.scss */
  .featureWrapper .feature {
    padding-top: 186px;
  }
  /* line 477, sass/index.scss */
  .featureWrapper .feature .featureItem {
    text-align: left;
  }
  /* line 481, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img {
    max-width: 450px;
    max-height: 370px;
  }
  /* line 485, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img--pp1 {
    padding: 0 0 0 58px;
  }
  /* line 489, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img--pp2 {
    padding: 15px 0 0 80px;
  }
  /* line 493, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img--pp3 {
    padding: 39px 0 0 50px;
  }
  /* line 497, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__img--pp4 {
    padding: 66px 0 0 89px;
  }
  /* line 503, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text {
    min-width: 450px;
    min-height: 370px;
    padding: 16px 0 0 95px;
  }
  /* line 508, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp2 {
    padding: 36px 0 0 79px;
    letter-spacing: .3px;
  }
  /* line 512, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp2 h4 {
    margin-bottom: 26px;
  }
  /* line 516, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp2 p {
    padding: 0 11px 0 0;
    line-height: 22px;
  }
  /* line 522, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp3 {
    padding: 93px 0 0 94px;
  }
  /* line 524, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp3 h4 {
    margin-bottom: 18px;
    letter-spacing: 0.3px;
  }
  /* line 528, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp3 p {
    line-height: 22px;
  }
  /* line 533, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp4 {
    padding: 102px 0 0 77px;
  }
  /* line 535, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp4 h4 {
    margin-bottom: 20px;
    letter-spacing: 0.3px;
  }
  /* line 539, sass/index.scss */
  .featureWrapper .feature .featureItem .featureItem__text--pp4 p {
    padding: 0 13px 0 0;
    line-height: 22px;
  }
}
